@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
      font-size: 2em; /* Default HTML size for h1 */
    }
    h2 {
      font-size: 1.5em; /* Default HTML size for h2 */
    }
    h3 {
      font-size: 1.17em; /* Default HTML size for h3 */
    }
    h4 {
      font-size: 1em; /* Default HTML size for h4 */
    }
    h5 {
      font-size: 0.83em; /* Default HTML size for h5 */
    }
    h6 {
      font-size: 0.67em; /* Default HTML size for h6 */
    } 
  } 